@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,400;0,600;0,700;1,300;1,500&display=swap');

/* Geral*/
body {
    font-family: 'Poppins', sans-serif;
    color: #4F4F4F;
}

/* Navbar
*/
.navbar {
    border-bottom: 1px solid rgb(197, 191, 191);
}
.navbar .navbar-brand {
    color: #156AD7;
    font-size: 1.5em;
    font-weight: 700;
}

.navbar .navbar-brand:hover {
    color: #1e78ec;
}

.navbar-nav a {
    color: #4F4F4F;
    font-weight: 400;
    margin-right: 5px;
}

/* Content */
.content {
    margin: 30px auto;
}

th {
    color: #156AD7;
}

/* Login / Register */
.card {
    max-width: 480px;
    margin: 0 auto;
    padding: 30px;
    background-color: #c5d7f2;
}

.singin {
    width: 100%;
    font-size: 18px;
}