@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,400;0,600;0,700;1,300;1,500&display=swap');
/* variables */
:root {
    --primary-color: #156ad7;
    --secondary-color: rgb(119, 119, 119);
}

/* general */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s linear;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    overflow-x: hidden;
}

.alert {
    max-width: 40vw;
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
}

.alert-danger {
    border: 1px solid rgb(167, 50, 50);
    background-color: rgb(192, 74, 74);
    padding: 1rem 2rem;
}

.alert-success {
    border: 1px solid rgb(37, 107, 74);
    background-color: rgb(28, 129, 90);
    padding: 1rem 2rem;
}

.error-text {
    color: rgb(211, 68, 68);
    font-size: 12px;
}

.btn {
    outline: none;
    border: none;
    border-radius: 5rem;
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
    height: 3.5rem;
    width: 15rem;
    font-size: 1.7rem;
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, .3);
}

.btn:hover {
    letter-spacing: .1rem;
    opacity: .8;
}

/** headings **/
.heading {
    margin: 2rem;
    padding-top: 6rem;
    display: inline-block;
    font-size: 5.2rem;
    color: var(--primary-color);
    position: relative;
    letter-spacing: .2rem;
}

.heading::before, .heading::after {
    content: '';
    position: absolute;
    height: 2.5rem;
    width: 2.5rem;
    border-top: .4rem solid var(--primary-color);
    border-left: .4rem solid var(--primary-color);
}

.heading::before {
    top: 5.8rem;
    left: -2rem;
}

.heading::after {
    bottom: -.5rem;
    right: -2rem;
    transform: rotate(180deg);
}

.slogan {
    color: var(--primary-color);
    font-size: 2.5rem;
    font-weight: 400;
}

/*** header section ****/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.header .logo {
    font-size: 2.5rem;
    color: var(--primary-color);
    font-weight: 700;
}

.header .logo i {
    padding: 0 .5rem;
}

.header .navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header .navbar ul li {
    margin: 0 1.5rem;
}

.header .navbar ul li a {
    font-size:  1.8rem;
    color: var(--secondary-color);
}

.header .navbar ul li a:hover {
    color: var(--primary-color);
}

.header .fa-bars {
    color: var(--primary-color);
    cursor: pointer;
    font-size: 3rem;
    display: none;
}


/*** index page ***/
.index-page {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    padding: 0 1rem;
    position: relative;
    overflow: hidden !important;
}

.index-page::before, .index-page::after {
    content: '';
    position: absolute;
    z-index: -1;
    opacity: .8;
    border-radius: 50%;
}

.index-page::before {
    height: 50rem;
    width: 50rem;
    background: var(--primary-color);
    bottom: -10rem;
    left: -10rem;
}

.index-page::after {
    height: 60rem;
    width: 60rem;
    background: #ccc;
    top: -10rem;
    right: -10rem;
}


/** login page ***/
.login-page {
    min-height: 100vh;
    width: 100vw;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.login-page .fa-cog {
    position: absolute;
    font-size: 36rem;
    opacity: .15;
    color: #000;
    animation: rotate 10s linear infinite;
}

.login-page .nut1 {
    top: 10%;
    left: -15rem;
}

.login-page .nut2 {
    bottom: 23%;
    right: -13rem;
    animation-direction: reverse;
}

@keyframes rotate {
    100%{ transform: rotate(360deg); };
}


.login-page .row {
    background: linear-gradient(#fff, var(--primary-color));
    position: absolute;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 4rem;
}

.login-page .row .form {
    min-height: 65vh;
    width: 40vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    border-radius: 10px;
    text-align: center;
    color: var(--primary-color);
}

.login-page .row .form .box {
    height: 50px;
    width: 80%;
    margin-top: 35px;
    padding: 0 20px;
    background: none;
    outline: none;
    border: none;
    caret-color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    color: var(--primary-color);
}

.login-page .row .form i {
    margin-top: 40px;
    padding: 2px 0 0 10px;
    font-size: 2rem;
}

.login-page .row .form .btn {
    margin-top: 40px;
}

/*** home page ****/
.container {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    padding: 0 1rem;
    position: relative;
    overflow: hidden !important;
}

.container::before, .container::after {
    content: '';
    position: absolute;
    z-index: -1;
    opacity: .8;
    border-radius: 50%;
}

.container::before {
    height: 50rem;
    width: 50rem;
    background: var(--primary-color);
    bottom: -10rem;
    left: -10rem;
}

.container::after {
    height: 60rem;
    width: 60rem;
    background: #ccc;
    top: -10rem;
    right: -10rem;
}

.container .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    transform: translateY(-90px);
}

.container h1 {
    color: var(--primary-color);
    font-size: 4.2rem;
    margin-top: 10rem;
}

.container p {
    font-size: 2.2rem;
    color: var(--secondary-color);
}

.container table {
    margin-top: 3rem;
    width: 60%;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .3);
    background: #4b89af;
    text-align: center;
}
th, td {
    padding: 10px 15px;
}

th {
    font-size: 1.6rem;
    background-color: var(--primary-color);
    color: #fff;
    text-transform: uppercase;
}

tr:nth-child(odd) {
    background-color: #78adce;
}

td {
    font-size: 1.6rem;
    color: #000;
    border-bottom: 1px solid #eee;
}

.fa-edit {
    color: rgb(30, 129, 43);
    margin-right: .5rem;
}

.fa-trash {
    color: #d44035;
}


/* responsive */
@media (max-width: 768px) { 

    html {
        font-size: 50%;
    }

    .slogan {
        font-size: 1.7rem;
    }

    .alert {
        max-width: 70vw;
    }

    /* header section */

    .header .fa-bars {
        display: block;
    }

    .header .navbar {
        position: fixed;
        top: -120%;
        left: 0;
        height: auto;
        width: 100%;
        background-color: #fff;
        z-index: 1000;
        border-top: .1rem solid rgba(0, 0, 0, .3);
    }

    .header .navbar ul {
        height: 100%;
        width: 100%;
        flex-flow: column;
    }

    .header .navbar ul li {
        margin: 1rem 0;
    }

    .header .navbar ul li a {
        font-size: 2.4rem;
        color: #444;
    }

    .header .fa-times {
        transform: rotate(180deg);
    }

    .header .nav-toggle {
        top: 5.8rem;
    }

    /** login page **/
    .login-page .row .form {
        width: 70vw;
    }
    
    table, thead, tbody, th, td, tr {
        display: block;
      }
      thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
      }
      tr { border: 1px solid #ccc; }
      td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 200px;
        margin-left: 150px;
      }
      td:before {
        position: absolute;
        top: 12px;
        left: 6px;
        width: 200px;
        padding-right: 40px;
        white-space: nowrap;
        margin-left: -150px;
      }
      td:nth-of-type(1):before { content: "Nome"; }
      td:nth-of-type(2):before { content: "Sobrenome"; }
      td:nth-of-type(3):before { content: "E-mail"; }
      td:nth-of-type(4):before { content: "Telefone";}
      td:nth-of-type(5):before { content: "Ações";}

}

@media (max-width: 550px) {
    .container h1 {
        margin-top: 20rem;
    }
    .container table {
        width: 90%;
    }
    table, thead, tbody, th, td, tr {
        display: block;
      }
      thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
      }
      tr { border: 1px solid #ccc; }
      td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 6px;
        margin-left: 150px;
      }
      td:before {
        position: absolute;
        top: 12px;
        left: 6px;
        width: 200px;
        padding-right: 40px;
        white-space: nowrap;
        margin-left: -175px;
      }
      td:nth-of-type(1):before { content: "Nome"; }
      td:nth-of-type(2):before { content: "Sobrenome"; }
      td:nth-of-type(3):before { content: "E-mail"; }
      td:nth-of-type(4):before { content: "Telefone";}
      td:nth-of-type(5):before { content: "Ações";}    

}