<header class="header">
  <% if(!user) { %> 
    <a class="logo" href="/">Agenda</a>
  <% } else { %>
    <a class="logo" href="/home">Agenda</a>
  <% } %>

  <div class="fas fa-bars"></div>

  <nav class="navbar">
    <ul>
      <% if(!user) { %>
        <li><a href="/login">Entrar</a></li>
        <li>
          <a href="/cadastro">
            <button class="btn">Cadastrar</button>
          </a>
        </li>
      <% } else { %>
        <li> <a href="/home">Contatos</a> </li>  
        <li><a href="/contato">Adicionar</a></li>  
        <li><a href="/login/logout">Sair</a> </li>
      <% } %>
    </ul>
  </nav>
</header>
