<%- include('includes/header') %>


<div class="conatiner">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="content">
                <h1 class="display-1 text-center">Erro 404!</h1>
                <p class="text-center lead">A página que você procura não existe!</p>
                <a href="/" class="btn btn-primary">Voltar</a>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>

    
<%- include('includes/footer') %>