<%- include('includes/header') %>
<%- include('includes/nav') %>


<div class="index-page">

    <div class="mensages">
        <%- include('includes/mensages') %>
    </div>

    <div class="row">
        <div class="content">
            <h1 class="heading">App Sua Agenda</h1>
            <p class="slogan">Seus contatos em um sรณ lugar!</p>
        </div>
    </div>
    
</div>

    
<%- include('includes/footer') %>